.nav-link {
    font-weight: bold;
   
}

/* footer {
    display: inline;
} */

.footer-link-a {
    font-style: Roboto;
    display: inline;
}

.navbar-nav > li {
    padding-left: 50px;
    padding-right: 50px;
}

/* .bg-forms1{
    background-image: url('../assets/images/preptime_bg.png');
    background-color: #EFEEEE;
} */